body {
	font-family: 'Roboto', sans-serif;
	background-color: #3d2d29;
	color: white;
}

a {
	color: #ef7458;
	transition-duration: 0.2s;
}

a:visited {
	color: #ef5888;
}

a:hover {
	color: #efbf58;
}

input {
	width: 50%;
	padding: 6px;
	margin: 2px;
}

button {
	padding: 6px; 
        margin: 2px;
}


pre {
	white-space: pre-wrap;
}
